body {
    background-color: black;
    text-align: center;
    font: normal 15px italic;
    color: blueviolet;
}

div#divimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-shadow: 1px 1px 10px violet;
}

div#div1 {
    background-color: white;
    margin: auto;
    height: 200px;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    font: normal 20px Arial;
    box-shadow: 1px 1px 10px violet;
}

div#div2{
    background-color: white;
    margin: auto;
    height: 15px;
    width: 75px;
    padding: 5px;
    border-radius: 10px;
    font: normal 12px Arial;
    box-shadow: 1px 1px 10px red;
}

img#img1 {
    padding: 10px;
    transition: background 1s;
}
img#img1:hover,
img#img1:focus {
    background: red;
}

img#img2 {
    padding: 10px;
    transition: background 1s;
}
img#img2:hover,
img#img2:focus {
    background-color: red;
}

