body {
    background-color: grey;
    text-align: center;
}

div#divimg {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 40px;
}

h1 {
    font: normal 35px Arial;
    text-shadow: 1px 1px 5px green;
}

div#div1 {
    background-color: white;
    margin: auto;
    height: 200px;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    font: normal 20px Arial;
    box-shadow: 1px 1px 10px green;
}

div#div2{
    background-color: white;
    margin: auto;
    height: 15px;
    width: 75px;
    padding: 5px;
    border-radius: 10px;
    font: normal 12px Arial;
    box-shadow: 1px 1px 10px black;
}

img#img1 {
    padding: 10px;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
    transition: background 0.5s;
}
img#img1:hover,
img#img1:focus {
    background: green;
}

img#img2 {
    padding: 10px;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
    transition: background 0.5s;
}
img#img2:hover,
img#img2:focus {
    background-color: green;
}

img#img3 {
    padding: 10px;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
    transition: background 0.5s;
}
img#img3:hover,
img#img3:focus {
    background-color: green;
}